.games h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.games .container{
    min-height: 100%;
}

.games .container .row {
    float: left;
}

.games .container .col{
    float: left;
    text-align: left;
}

.games .container .banner{
    width:100%;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.games .container .fade{
    height:0;
}

.games .container  .fade.show{
    height:100%;
    transition: 700ms;
    margin-bottom: 30px;
}

.games .container .fadeblock img{
    float: left;
    padding-right: 40px;
    height: 200px;
    max-width: 250px;
}

.games .container .fadeblock{
    float: initial;
}

.games .container .fadeblock button{
    margin: 30px 10px 10px 30px;
}

.games .container .fadeblock img{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}

.games .container .fadeblock img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); 
}

/*.games .container .media-body{
    display: inline-block;
    position: absolute;
    right: 0;
    top:0;
    width:60%;
}*/